@font-face {
  font-family: 'Press';
  font-style: normal;
  font-weight: 400;
  src: url(press.woff2) format('woff2');
}
*{
  z-index:10;
  position: relative;
}
body{
  margin:0;
  font-family:sans-serif;
}
h1{
  font-family:"Press";
  font-size:44px;
  color:orange;
  text-shadow: 1px 1px 0px #555, 2px 2px 0px #555, 3px 3px 0px #555;
}
h2{
  font-family:"Press";
  color:orange;
  font-size:30px;
  text-shadow: 1px 1px 0px #555, 2px 2px 0px #555;
}
input{
  padding:5px 10px;
  border-radius:2px;
  border:1px solid #666;
  outline: none !important;
}
button{
  padding:4px 6px;
  border-radius:2px;
  border:1px solid #666;
  min-width:50px;
  background:orange;
  transform:scale(1);
  transition:transform .1s;
}
button:hover{
  transform:scale(1.1);
}
#createDialog{
  display:none;
  position:absolute;
  top:50%;
  left:50%;
  width:400px;
  height:300px;
  background:white;
  transform: translate(-50%, -50%);
  padding:20px;
  box-shadow: 1px 1px 0px orange, 2px 2px 0px orange, 3px 3px 0px orange, 4px 4px 0px orange;
}
#createDialog small{
  font-size:10px;
  font-style:italic;
}
#dialogOverlay{
  display:none;
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background:black;
  opacity:.5;
}
#players [data-ready="true"]{
  font-weight: bold;
}
#sectionStart, #sectionLobby{
  padding-top:10px;
  padding-bottom:10px;
  padding-left:5%;
  padding-right:5%;
  background:#ddd;
  color:#111;
  height:calc(100% - 20px);
  z-index:0;
  overflow:hidden;
}
#notice{
  position:absolute;
  bottom:10px;
  right:10px;
  color:#aaa;
  font-size:12px;
}
img{
  position:absolute;
  width:200px;
  z-index:1;
  opacity:.2;
  filter:blur(10px);
  animation: move 5s linear 0s infinite alternate;
}
#pic1{
  top:30%;
  left:5%;
  animation-duration: 3s;
}
#pic2{
  top:70%;
  left:50%;
  animation-duration: 4s;
}
#pic3{
  top:10%;
  left:80%;
  width:122px;
}
@keyframes move{
  0%{transform:rotate(0deg);margin-top:10px;}
  33%{transform:rotate(90deg);margin-top:0px;}
  66%{transform:rotate(20deg);margin-top:-20px;}
  100%{transform:rotate(30deg);margin-top:20px;}
}
@media(min-width:750px){
  #sectionStart,#sectionLobby{
    padding-left:10%;
    padding-right:10%;
  }
}
@media(min-width:1000px){
  #sectionStart,#sectionLobby{
    padding-left: 15%;
    padding-right:15%;
  }
}
@media(min-width:1200px){
  #sectionStart,#sectionLobby{
    padding-left: 20%;
    padding-right:20%;
  }
}
@media(min-width:1500px){
  #sectionStart,#sectionLobby{
    padding-left: 30%;
    padding-right:30%;
  }
}