@font-face {
  font-family: 'Press';
  font-style: normal;
  font-weight: 400;
  src: url(press.woff2) format('woff2');
}
*{
  position: relative;
}
body{
  margin:0;
  font-family:sans-serif;
  width:100%;
  height:100%;
  overflow:hidden;
  background:#ddd;
}
h1{
  font-family:"Press";
  font-size:44px;
  color:orange;
  text-shadow: 1px 1px 0px #555, 2px 2px 0px #555, 3px 3px 0px #555;
}
h2{
  font-family:"Press";
  color:orange;
  font-size:30px;
  text-shadow: 1px 1px 0px #555, 2px 2px 0px #555;
}
h3{
  font-family:"Press";
  color:orange;
  font-size:20px;
  text-shadow: 1px 1px 0px #555, 2px 2px 0px #555;
}
input{
  padding:5px 10px;
  border-radius:2px;
  border:1px solid #666;
  outline: none !important;
}
button{
  padding:4px 6px;
  border-radius:2px;
  border:1px solid #666;
  min-width:50px;
  background:orange;
  transform:scale(1);
  transition:transform .1s;
}
button:hover{
  transform:scale(1.1);
}
table{
  border-collapse: collapse;
}
table tr{
  cursor:pointer;
}
table tr[data-lobby="false"]{
  cursor:not-allowed;
  color:#888;
  font-style:italic;
  pointer-events: none;
}
table .name{
  width: 180px;
  font-size:20px;
  padding: 10px 0;
}
table .mode, table .access{
  width: 75px;
  font-size:14px;
  font-style:italic;
}
#timer{
  color:darkred;
  font-weight:bold;
}
#createDialog{
  position:absolute;
  top:50%;
  left:50%;
  width:400px;
  height:300px;
  background:white;
  transform: translate(-50%, -50%);
  padding:20px;
  box-shadow: 1px 1px 0px orange, 2px 2px 0px orange, 3px 3px 0px orange, 4px 4px 0px orange;
}
#createDialog small{
  font-size:10px;
  font-style:italic;
}
#dialogOverlay{
  display:none;
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background:black;
  opacity:.5;
}
#players [data-ready="true"]{
  font-weight: bold;
}
section, #connecting, #loggedin, #createDialog{
  display:none;
}
.start section#start,
.start.connecting #connecting,
.start.loggedin #loggedin,
.games #games,
.games.create #createDialog,
.lobby #lobby,
.ingame #ingame,
.end #end,
.disconencted #disconnected{
  display:block;
}

#sectionStart, #sectionLobby{
  padding-top:10px;
  padding-bottom:10px;
  padding-left:5%;
  padding-right:5%;
  color:#111;
  height:calc(100% - 20px);
  z-index:0;
}
#notice{
  position:absolute;
  bottom:10px;
  right:10px;
  color:#aaa;
  font-size:12px;
}
img{
  position:absolute;
  width:200px;
  z-index:-1;
  opacity:.2;
  filter:blur(10px);
  animation: move 5s linear 0s infinite alternate;
}
#heading{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 70px;
  transform: translate(-50%,-50%);
  margin:0;
}
#subheading{
  position: absolute;
  top: calc(50% + 60px);
  left: 50%;
  transform: translate(-50%,-50%);
}
#pic1{
  top:30%;
  left:5%;
  animation-duration: 3s;
}
#pic2{
  top:70%;
  left:50%;
  animation-duration: 4s;
}
#pic3{
  top:10%;
  left:80%;
  width:122px;
}
#leaderboard{
  position:absolute;
  top:50%;
  right:calc(50% + 200px);
  transform: translate(0%,-50%);
}
section{
  width:100%;
  height:100%;
}
#previewCanvas{
  position:absolute;
  top:calc(50% + 280px);
  left:calc(50% - 150px);
}
#myCanvas{
  position:absolute;
  background:white;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  box-shadow: 1px 1px 0px #555, 2px 2px 0px #555, 3px 3px 0px #555, 4px 4px 0px #555;
}
#others{
  position:absolute;
  top:50%;
  left:calc(50% + 200px);
  transform: translate(0%,-50%);
}
#bestCanvas,#worstCanvas{
  background:white;
  box-shadow: 1px 1px 0px #555, 2px 2px 0px #555;
}
@keyframes move{
  0%{transform:rotate(0deg);margin-top:10px;}
  33%{transform:rotate(90deg);margin-top:0px;}
  66%{transform:rotate(20deg);margin-top:-20px;}
  100%{transform:rotate(30deg);margin-top:20px;}
}
@media(min-width:750px){
  .responsive{
    padding-left:10%;
    padding-right:10%;
  }
}
@media(min-width:1000px){
  .responsive{
    padding-left: 15%;
    padding-right:15%;
  }
}
@media(min-width:1200px){
  .responsive{
    padding-left: 20%;
    padding-right:20%;
  }
}
@media(min-width:1500px){
  .responsive{
    padding-left: 30%;
    padding-right:30%;
  }
}